body {
  width: 1150px;
  margin: auto;
}

p {
  color: rgb(0, 59, 126);
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5em;
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: darkslateblue;
  /* display: inline-block; */
}
